#footer{
    width: 100%;
    height: auto;
    background-color: #39B0F3;
    color: white;
}
#footer1{
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 30px;
    padding-left: 30px;
}
#footer1>div{
    width: auto;
    height: 100%;
}
#footer1>div>ul{
    list-style-type:none;
    padding: 20px;
    line-height: 2.7;
    font-size: .875rem;
}
#footer1>div>ul>li:first-child{
    text-transform: uppercase;
    opacity: 0.7;
}
#footer2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 100px;
    padding-left: 30px;
}
#left{
    font-size: 0.875rem;
    padding: 0px 20px;
}

#playstore{
    width: 300px;
    margin-right: 20px;
    margin-left: 200px;
}
#social{
    width: 200px;
}

#footer_search{
    margin-right: 50px;
    display: flex;
}

#search_input{
    width: 300px;
    border: white 1px solid;
    height: 40px;
    border-radius: 20px;
    background-color: #39B0F3;
    font-size: 19px;
    text-align: center;
}

#search_btn{
    display: flexbox;
    margin-left: -60px;
    font-size: 40px;
}