#blogs-topbar{
    background-color: deepskyblue;
    font-size: 45px;
    color: white;
    font-weight: 400;
    line-height: 48px;
    font-family: montserrat;
    padding: 50px;
    padding-left: 150px ;
    border:0;
}
/* ************************************************ */
#blog_one{
    border: 0px solid red;
    height: auto;
    margin: auto;
    justify-content: space-between;
    display: flex;
    width:63%;
    margin-top: 60px;
    
}
#blog-search{
    padding: 15px;
    font-size: 16px;
    width: 250px;
    border: 0;
}
#blog-searchicon{
    height: 50px;
    width:52px ;
    margin-left: -5px;
    margin-top: 0px;
    background-color:gainsboro;
    border: 0;
}
#blog-searchbar{
    border: 1px solid grey;
    width:300px ;
    height: 50px;
    display: flex;
    border-radius: 3px;
   
}
#div-blog-select{
    height: 50px;
    width: 200px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 2px;
}
#blog-select{
  border: 0;
  font-size: 16px;
    height: 50px;
    width: 200px; 
}
/* 
<!-- ************************************************** */


/* #blog_one{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 0px solid red;
    height: auto;
    margin: auto;

    width:64%;
    margin-top: 60px;
    justify-content: space-between;
} */

/* ********************************************** */
#blog-2,#blog-3{
    width:64%;
    margin: auto;
margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 40px;
    column-gap: 40px;
    height: auto;
}
#blog-2>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
    width: 400px;
}
#blog-2>div>p{
    width: 350px;
font-size: 25px;
margin-left: 20px;
font-weight: 400;
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 35px;
}
#blog-2>div>p+p{
    font-size: 18px;
    font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #blog-2>div>button{
        padding: 7px 20px;
        border-radius: 15px;
        margin-left: 20px;
        font-size: 12px;
    }
    #blog-2>div>#link{
        font-size: 16px;
        font-weight: 300;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: blue;
   
        }

        #blog-2>div>img{
            width:400px
        }

/* ************************************ */

#blogs-bar2{
    background-color: deepskyblue;
    color: white;
    font-family: montserrat;
    line-height: 20px;
    padding: 30px;
    margin-top: 80px;
    border:0;
   text-align: center;
   font-family: montserrat;
}
#blogs-bar2>h3{
    font-size: 33px;
    font-weight: 500;  
}
#blogs-bar2>p{
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;   
}
#blogs-bar2>a>button{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; 
    border-radius: 20px;  
    padding: 10px 25px;
    background-color: deepskyblue;
    border: 2px solid white;
    color: white;
}


/* /* ******************************************************** */

#blog-3>div>img{
    width:400px
}
#blog-3>div>#link{
    font-size: 16px;
    font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blue;

    }
    #blog-3>div>button{
        padding: 7px 20px;
        border-radius: 15px;
        margin-left: 20px;
        font-size: 12px;
    }
    #blog-3>div>p+p{
        font-size: 18px;
        font-weight: 300;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #blog-3>div>p{
            width: 350px;
        font-size: 25px;
        margin-left: 20px;
        font-weight: 400;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 35px;
        }
        #blog-3>div{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            height: auto;
            width: 400px;
        }
        #blog-3{
            margin-bottom: 50px;
        }



        /* ************************************************************************ */