/* index */
/* 01. root css */
/* 02. general css */
/* 03. heading section css */
/* 04. discount banner section css */
/* 05. plan selection section css */
/* 06. plan section html css */

/* 01. root css start */
:root {
  --primary: #1ac3f3;
  --secondary: #68ddff;
  --white: #fff;
  --blk: #000;
  --bgcolor: linear-gradient(
    to right,
    #48bdef,
    #3fabde,
    #2cb3f7,
    #0aa8fb,
    #019cfd
  );
}
/* 01. root css end */

/* 02. general css start */
body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
}
/* 02. general css end */

/* 03. heading section css start */
#pricing_heading {
  background-image: var(--bgcolor);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
}
#head_title {
  width: 85%;
  margin: auto;
}
#head_title > h1 {
  margin: 0;
  color: var(--white);
  font-size: 3rem;
  font-weight: 400;
}
/* 03. heading section css end */

/* 04. discount banner section css start */
#discount_banner {
  width: 100%;
  margin: 30px 0;
}
#banner {
  width: 100%;
}
#banner > img {
  width: 1116px;
  height: 214px;
  display: block;
  margin: auto;
}
/* 04. discount banner section css end */

/* 05. discount plan section css start */
#plan_selection {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
}
#plan_section,
#archive_plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#plan_section > div,
#archive_plan > div {
  margin-right: 8px;
}
#plan_section > div {
  font-size: 14px;
  font-weight: 600;
  color: #525c69;
}
#archive_plan > div {
  font-size: 14px;
  font-weight: 600;
  color: #525c69;
}
#duration_plan {
  width: 156px;
  height: 32px;
  border-radius: 25px;
  border: 2px solid #3bc8f5;
  padding: 0 10px;
  font-weight: 700;
  color: #262626;
  font-size: 15px;
}
#archived {
  border: 2px solid #3bc8f5;
  padding: 5px 20px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
/* 05. discount plan section css end */

/* 06. plan section html css start */
#plan {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 50px;
}
#free_plan {
  background-color: #f6fed6;
  border-radius: 30px;
  margin-bottom: 30px;
}
#free_head {
  background-color: #e4f4a5;
  height: 110px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#free_head > h4 {
  font-size: 18px;
  font-weight: 600;
}
#free_head > span {
  width: 200px;
  margin: -20px auto;
  font-size: 11px;
  font-weight: 600;
  color: #9ea976;
}
/* 06. plan section html css end */

#plan_info {
  background-color: #f6fed6;
  width: 253px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#users_limit {
  padding-top: 26px;
  display: flex;
  align-items: center;
}
#users_limit > b {
  font-size: 16px;
  margin-left: 5px;
}
#users_limit > img {
  width: 22px;
  height: 25px;
}
.user {
  font-size: 15px;
  font-weight: 600;
  margin-top: -5px;
}
.cost {
  color: #7c9b00;
  font-size: 21px;
  font-weight: 600;
}
#free_reg {
  margin-top: 40px;
}
#free_reg > button {
  border: none;
  background-color: #b8d938;
  color: var(--white);
  padding: 12px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  width: 152px;
  cursor: pointer;
}
#free_reg > button:hover {
  opacity: 0.7;
}
.data_lmt {
  margin: 20px 0;
  font-size: 17px;
  font-weight: 700;
  color: #00445a;
  border-bottom: 2px solid #e7f2bb;
  padding: 10px;
  width: 60%;
  text-align: center;
}
.freeplan_services {
  background-color: #f6fed6;
  border-radius: 30px;
}
.freeplan_services > li {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
.freeplan_services > li > ul > li {
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0;
  color: #525c69;
}
#basic_plan {
  background-color: #e7f9ff;
  width: 253px;
  border-radius: 30px;
  margin-bottom: 30px;
}
#basic_head {
  background-color: #caf0fd;
  height: 110px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#basic_head > h4 {
  margin: 0 0 3px 0;
  font-size: 18px;
  font-weight: 600;
}
#basic_head > span {
  width: 230px;
  margin: 0px auto;
  font-size: 11px;
  font-weight: 600;
  color: #9ea976;
}
#basic_plan_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#basic_user_limit {
  padding-top: 26px;
}
#basic_user_limit > b {
  font-size: 16px;
}
.basic_user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.basic_cost {
  color: #2f72bf;
  font-size: 21px;
  font-weight: 600;
}
.basic_cost > p {
  font-size: 16px;
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  color: #262626;
}
.basic_cost > a {
  width: 60%;
  margin: auto;
  display: block;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px dashed #0050af;
  color: #0050af;
  text-align: center;
}
.disc {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  background-color: #f8e15c;
  color: #262626;
  transform: skewX(-10deg);
  padding: 3px;
}
.buy_plan {
  margin-top: 15px;
}
.buy_plan > button {
  background-color: #49c9f1;
  color: var(--white);
  border: none;
  padding: 12px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  width: 152px;
  cursor: pointer;
  transition: all 0.5s;
}
.buy_plan > button:hover {
  opacity: 0.7;
}
.basic_data_limit {
  margin: 20px 0;
  font-size: 17px;
  font-weight: 700;
  color: #00445a;
  border-bottom: 2px solid #beeffd;
  padding: 10px;
  width: 60%;
  text-align: center;
}
.basicplan_services > li {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
.basicplan_services > li > ul > li {
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0;
  color: #525c69;
}
#standard_plan {
  background-color: #e7f9ff;
  width: 253px;
  border-radius: 30px;
  margin-bottom: 30px;
}
#standard_head {
  background-color: #caf0fd;
  height: 110px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#standard_head > h4 {
  margin: 0 0 3px 0;
  font-size: 18px;
  font-weight: 600;
}
#standard_head > span {
  width: 230px;
  margin: 0px auto;
  font-size: 11px;
  font-weight: 600;
  color: #9ea976;
}
#standard_plan_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#standard_user_limit {
  padding-top: 26px;
}
#standard_user_limit > b {
  font-size: 16px;
}
.standard_user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.standard_cost {
  color: #2f72bf;
  font-size: 21px;
  font-weight: 600;
}
.standard_cost > p {
  font-size: 16px;
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  color: #262626;
}
.standard_cost > a {
  width: 60%;
  margin: auto;
  display: block;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px dashed #0050af;
  color: #0050af;
  text-align: center;
}
#professional_plan {
  background-color: #e7f9ff;
  width: 253px;
  border-radius: 30px;
  margin-bottom: 30px;
}
#professional_head {
  background-color: #caf0fd;
  height: 110px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#professional_head > h4 {
  margin: 0 0 3px 0;
  font-size: 18px;
  font-weight: 600;
}
#professional_head > span {
  width: 230px;
  margin: 0px auto;
  font-size: 11px;
  font-weight: 600;
  color: #9ea976;
}
#professional_plan_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#professional_user_limit {
  padding-top: 26px;
}
.professional_user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.professional_cost {
  color: #2f72bf;
  font-size: 21px;
  font-weight: 600;
}

.professional_cost > p {
  font-size: 16px;
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  color: #262626;
}
.professional_cost > a {
  width: 60%;
  margin: auto;
  display: block;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px dashed #0050af;
  color: #0050af;
  text-align: center;
}
#enterprise_plan{
  background-color: #D5FEFC;
  width: 253px;
  border-radius: 30px;
  margin-bottom: 30px
}
#enterprise_head{
    background-color: #A4F3F3;
    height: 110px;
    text-align: center;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#enterprise_head > h4 {
  margin: 0 0 3px 0;
  font-size: 18px;
  font-weight: 600;
}
#enterprise_head > span {
  width: 230px;
  margin: 0px auto;
  font-size: 11px;
  font-weight: 600;
  color: #9ea976;
}
#enterprise_plan_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#enterprise_user_limit {
  padding-top: 26px;
}
.enterprise_user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.enterprise_cost {
  color: #2f72bf;
  font-size: 21px;
  font-weight: 600;
}
#enterprise_user_limit{
  padding-top: 26px;
}
.enterprise_user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.enterprise_cost > p {
  font-size: 16px;
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  color: #262626;
}
.enterprise_cost > a {
    width: 60%;
    margin: auto;
    display: block;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px dashed #0050af;
    color: #0050af;
    text-align: center;
}