body{
    margin: 0;
    font-family: system-ui, Montserrat, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#headings{
    text-align: center;
    width: 80%;
    margin: auto;
}
.container1{
    height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 10%;
}
.box1{
    height: 500px;
    width: 45%;
}

.box2 img{
    width: 100%;
}




.bar1{
    display: flex;
    height: 95px;
    width: 100%;
  background-color: #F8F9FA;
    justify-content: center;
    margin-top: 7%;
}
.bar1 img {
    width: 103%;
   
}
.freebtn{
    margin-top: 5%;
    padding: 13px;
    width: 210px;
    border-radius: 44px;
    background-color: #BDF300;
    color: #262626;
    border: none;
    font-weight:bolder;
    font-size: 16px;
}
.list{
    width: 80%;
    font-size: 25px;
    display: flex;
    margin: auto;
    gap: 30%;
    color: #0071bd;
   
}
.heading2{
    text-align: center;
    width: 35%;
    margin: auto;
}
.companylogo{
    text-align: center;
    gap: 5%;
}
a{
    text-decoration: none;
    color: black;
}
